body {
  font-family: "Space Mono", monospace;
  background-color: #222831;
  background: url(./images/background.jpg);
  background-size: cover;
  background-position: center;
  color: #f5f7f8;
  display: grid;
  place-items: center;
}

/* body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
} */

h1 {
  font-family: "Space Mono", monospace;
  font-size: clamp(3rem, 10vw, 5rem);
  text-align: center;
  color: #f5f7f8;
  padding: 0rem clamp(1rem, 2vw, 1rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  background-color: #f4ce14;
}

h1:hover {
  color: #f5f7f8;
}

#form-container {
  width: 50rem;
  max-width: 1000px;
  border-radius: 10px;
  background-color: #262625;
}

#form__container__header {
  border-radius: 10px 10px 0 0;
  padding: 10px;
  text-align: center;
  background-color: #212121;
  margin: 0;
  font-size: 32px;
  font-size: 300;
  line-height: 0;
}

#form__content__wrapper {
  padding: 20px;
}

input {
  box-sizing: border-box;
  color: #212121;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 16px 20px;
  font-size: 15px;
  background-color: #f5f7f8;
  margin-top: 32px;
}

input[type="submit"] {
  background-color: #f4ce14;
}
input:hover {
  cursor: pointer;
  transform: scale(1.025);
}
